/* You can add global styles to this file, and also import other style files */
:root {
  --dark-bg: #0b1416;
  --sidebar-bg: #0f1c1e;
  --card-bg: #195a67;
  --cyan-accent: #00e5ff;
  --text-gray: #a0a0a0;
}


